<app-menu-title></app-menu-title>
<div class="container__articles">
	<div class="articles__main">
		<app-big-card id="1" photoCover="https://via.placeholder.com/400x300" cardTitle="Novo homem de ferro anunciado"
			cardDescription='Marvel studios anuncia novo filme do homem de ferro'></app-big-card>
		<app-big-card id="2" photoCover="https://via.placeholder.com/400x300" cardTitle="Novo homem de ferro anunciado"
			cardDescription='Marvel studios anuncia novo filme do homem de ferro'></app-big-card>
	</div>
	<div class="articles__others">
		<app-small-card id="1" photoCover="https://via.placeholder.com/200x100" cardTitle="Saiu nova versão do Angular">
		</app-small-card>
		<app-small-card id="2" photoCover="https://via.placeholder.com/200x100" cardTitle="Saiu nova versão do Angular">
		</app-small-card>
		<app-small-card id="3" photoCover="https://via.placeholder.com/200x100" cardTitle="Saiu nova versão do Angular">
		</app-small-card>
	</div>
</div>