<app-menu-title></app-menu-title>
<div class="container__articles">
	<div class="articles__main">
		<app-big-card id="1" photoCover="https://via.placeholder.com/400x300" cardTitle="Novo homem de ferro anunciado"
			cardDescription='Marvel studios anuncia novo filme do homem de ferro'></app-big-card>
		<app-big-card id="2" photoCover="https://via.placeholder.com/400x300" cardTitle="Novo homem de ferro anunciado"
			cardDescription='Marvel studios anuncia novo filme do homem de ferro'></app-big-card>
	</div>
	<div class="articles__others">
		<div *ngFor="let card of smallCardsArray">
			<app-small-card id="{{card.id}}" photoCover="{{card.photoCover}}" cardTitle="{{card.cardTitle}}">
			</app-small-card>
		</div>
	</div>
</div>